<div class="d-flex justify-content-center container" style="height:100vh">
    <div class="col-md-5 align-self-center">
        <div class="card">
            <h6 class="card-title bg-light p-3">Sign in to your dashboard</h6>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Username" [(ngModel)]="user.username"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!(user.username && user.password)" (click)="login()">SIGN IN</button>
                </form>
            </div>
        </div>
    </div>
</div>