<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand px-5" href="#">Dashboard</a>
    <div class="collapse navbar-collapse">

    </div>
    <span class="navbar-text px-5 btn" (click)="logout()">
        Logout
    </span>
</nav>
<div class="container">
    <h1 class="p-3">Overview</h1>
    <div class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-title bg-light p-3">Card title</h5>
                <div class="card-body">
                    <div id="piechartdiv" style="width: 100%; height: 300px"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-title bg-light p-3">Card title</h5>
                <div class="card-body">
                    <div id="barchartdiv" style="width: 100%; height: 300px"></div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="p-3">User List</h1>
    <div class="row">
        <table class="table table-bordered">
            <thead class="bg-light">
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th style="width: 50%;">User Name</th>
            </thead>
            <tbody>
                <tr *ngFor="let data of tableData; let i = index;">
                    <td>{{i+1}}</td>
                    <td>{{data.firstName}}</td>
                    <td>{{data.lastName}}</td>
                    <td>{{data.username}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>